/* header */
header{   
    width: 100%;
    grid-area: header;
    background-color: #633d2e;
}
.title-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sedan SC';
    color: white;
    font-size: 200px;
    padding: 20px;
}
.paginas{
    grid-area: pages;
    text-decoration-color: #000000;
    display: flex;
    justify-content: space-around;
    font-family: 'Sedan SC';
    background-color: #f7af63;
    font-weight: bolder;
    @include spaces (20px,0,0);
    
}
a{
    display: flex;
    justify-content: space-around;
    color: black;
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
}   