/* header */
header {
    display: grid;
    width: 100%;
    grid-area: header;
    color: #f7af63;
  }
  .navbar {
    padding: 0;
  }
  .title-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Sedan SC";
    font-weight: bolder;
    color: black;
    font-size: 200px;
    padding: 20px;
    text-decoration: none;
  }
  .container-fluid {
    background-color: #f7af63;
    padding: 10px;
  }
  .logo-navbar {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #000000;
  }
  .navbar-collapse {
    justify-content: end;
  }
  .navbar-nav {
    display: grid;
    grid-area: pages;
    text-decoration-color: #000000;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    font-family: "Sedan SC";
    background-color: #633d2e;
    font-weight: bolder;
    width: 650px;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
  }
  .nav-item {
    display: flex;
    align-items: center;  
  }
  .nav-link {
    color: white;
    padding: 0;
  }
  a {
    display: flex;
    justify-content: space-around;
    color: black
  }