/* FOOTER */
footer {
    display: grid;
    grid-area: footer;
    position: static;
}
.redes {
    background-color: #f7af63;
    font-weight: bolder;
    padding: 10px;
    margin: 0;
    border: 0;
}
.redes-sociales {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.copyright {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    border: 0;
    background-color: #633d2e;
    font-size: x-small;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
}